.c-rich-text-block{
  li{
    color: #444;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    letter-spacing: 0px;
    line-height: 1.5em;
  }
  ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
  }
  h2{
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0px;
    line-height: 1.1em;
}
p{
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 1.1em;
    margin-bottom: 1em;
}  
a{
  color: #00a4bd;
}
span{
  font-size: 16px;
}
}