.c-card-grid--logo-text{
  &__card-container{
    display: grid;
    grid-column: 2 / 14;
    grid-template-columns: 1fr 1fr;
    .card--hortizontal-logo-text{
      grid-column: span 2;
      flex-direction: column;
      align-items: center;
      gap: 50px;
      @media screen and (min-width: 992px) {
        grid-column: span 1;
        flex-direction: row;
        align-items: center;
        gap: unset;
      }
    }
  }

  &__link-container{
    grid-column: 2 / 14;
    display: flex;
    justify-content: center;
  }

}