.c-card-grid--logo-text{
  &__card-container{
    display: grid;
    grid-column: 2 / 14;
    grid-template-columns: 1fr 1fr;
    &__card{
      grid-column: span 4;
      @media screen and (min-width: 768px) {
        grid-column: span 2;
      }
    }
  }

  &__link-container{
    grid-column: 2 / 14;
    display: flex;
    justify-content: center;
  }

}