.c-centered-text-block{
  &--container{
    grid-column: 2 / 14;
    text-align: center;
  }
  &__heading{
    color: #222;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    text-transform: unset;
    letter-spacing: 0px;
    line-height: 1.1em;
  }

  &__paragraph{
    margin-top: 1.5em;
    color: #444;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0px;
    line-height: 1.3em;
  }

  &__link-container{
    display: flex;
    justify-content: center;
  }

}