@use "./generic/rich-text-block";
@use "./generic/link";

@use "./simple/card--vertical-icon-text.scss";
@use "./simple/card--horizontal-logo-text.scss";

@use "./sections/left-right-block--image";
@use "./sections/centered-block";
@use "./sections/icon-card-strip";
@use "./sections/card-grid--logo-text";
@use "./sections/hero";

@use "./layouts/nav";

@use "./reset";
@use "./variables";


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.background--slate{
  background-color: var(--bg-slate);
  color: #fff;
}

.background--zinc{
  background-color: var(--bg-zinc);
  color: #222;
}

body{
  // font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito', sans-serif;
  color: #222;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}

.container{
  grid-template-columns: var(--twelve-column-grid);
  display: grid;
  padding: 40px 0;
  // max-width: 1400px;
  width: 100%;
  margin: 0 auto;

}