.c-nav{
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1000;

  &__nav-container{
    height: 60px;
    display: flex;
    align-items: center;
    padding: 5px 15px;

    &--sticky{
      @media screen and (min-width: 768px) {
        position: fixed;  
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.90);
        .c-nav__nav-container__logo-link__image{
          fill: #000; 
        }
        .c-nav__nav-container__nav-list__link{
          color: rgba(68, 68, 68, 1);
        }

        .c-nav__nav-container__search svg path{
          fill: rgba(68, 68, 68, 1);
        }
      }
    }
    &__logo-link{
      display: block;
      &__image{
        height: 100%;
        width: 160px;
        height: 140px;
        fill: #FFF;
  
        
      }
    }

    &__nav-list{
      display: none;
      margin-left: auto;
      @media screen and (min-width: 768px) {
        display: flex;
      }

      &__link{
        margin-left: 5px;
        color: #FFF;
        list-style: none;
        padding: 10px 5px;

        font-family: Open Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        text-decoration: none;
        text-transform: none;
        letter-spacing: 0px;
      }
    }

    &__trial{
      margin-left: auto;
      @media screen and (min-width: 576px) {
        margin-left: 15px;
      }
      .c-generic-link{
        padding: 12px 24px;
        font-size: 16px;
        margin: 0;
        font-weight: normal;
        border-radius: 6px;
        width: auto;
      }
    }

    &__search{
      padding: 10px 5px;
      margin-left: auto;
      display: none;

      @media screen and (min-width: 576px) {
        display: block;
      }

      @media screen and (min-width: 768px) {
        margin-left: 15px;
      }
      svg{
        height: 18.5px;
        width: 18px;
      }
      
    }



  }

  &__top-bar{
    height: 28px;
    background-color: black;
    &__content{
      display: flex;
      padding-right: 15px;
      gap: 20px;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      a{
        font-size: 13px;
        color: #FFF;
        font-weight: 900;
        text-decoration: none;
        line-height: 1.5rem;
      }
    }
  }
}