.card--hortizontal-logo-text{
  display: flex;
  &__logo-container{
    padding: 0 15px;

    &__logo{
      width: 500px;
      aspect-ratio: auto 500 / 148;
    }
  }

  &__content-container{
    &__paragraph{
      color: #444;
      font-size: 18px;
      font-weight: normal;
      letter-spacing: 0px;
      line-height: 1.3em;
      margin-bottom: 1rem;
    }
    &__link{
      transition: all .4s ease-in-out;
      display: block;
      color: #00a4bd;
      font-size: 18px;
      text-decoration: none;
      line-height: 1.3em;

      &:hover{
        color: #0195ac;
      }
    }
  }
}